@import '../settings/variables';

.about-wrapper {
    .image-mobile{
        display: inline-block;
        background: linear-gradient(0deg, $white 0%,  $canadian-grey 100%);
            img {
                max-width: 100%; 
            }

        @include medium {
            display: none;
        }
    }
    .panel{
        width: 100%;
        padding: 1.5rem;
        
        @include medium {
            margin: 0 auto;
        }

    }
    .panel-1{

            background: linear-gradient(0deg, $canadian-grey 0%,  $white 100%);
    }
    .panel-2 {
        background: linear-gradient(0deg, $canadian-grey 0%,  $white 100%);
        @include medium {
            background: linear-gradient(0deg, $white 0%,  $canadian-grey 100%);
        }
    }

    .intro {
        width: 100%;
        margin-top: 2rem;


        @include large {
            display: flex;
            // margin-block: 8rem;
            gap: 1.5rem;
        }

        &-left{
            width: fit-content;
            h2 {
                text-transform: uppercase;
                font-size: 3rem;
                width: 360px;

            }
        }
        &-right{
            p{
                font-size: 1.25rem;

                @include medium{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .image-text {
            align-items: center;
            margin-block: 2rem;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @include large {
                flex-direction: row;
            }
        .image-desktop{
            display: none;
            @include medium {
                display: inline-block;
            }
        }

        .image img{
            max-width: 100%; 
            @include large {
                min-width:450px;
            }
        }
    }

    .accordion-container, .accordion{
        .ac {
            background-color: transparent;
            border: none;
            .ac-trigger {
                font-family: 'Inter Tight';
                font-style: normal;
                font-weight:$bold;
                font-size: 1.5rem;
                text-transform: uppercase;
                text-align: left;
                width: 100%;
                padding: 10px;
                display: block;
                cursor: pointer;
                background-color: transparent;
                transition: color .25s ease;
                position: relative;
                text-decoration: none;
                margin: 0;
                border-bottom: 3px solid $canadian-grey;
                &::after {
                    content: "+";
                    text-align: center;
                    width: 20px;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    color: $custom-black;
                    transition: transform 0.3s ease;
                    transform: translate(0, -50%) rotate(0);     
                }
                 
            }
            .ac-text{
                padding: 0.5rem;
                font-size: 1rem !important;
                font:unset;

            }
   
        }

    }
    .separator {
        height: 3rem;
    }

}