@import '../settings/variables';
.cards {
    background-color: $white;
    display: flex;
    align-items: center;
    }

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    padding: 1.5rem;
     @include medium {
         padding: 2rem;
     }
    
    .card {
        height: 300px;
        background-color: $white;
        transition: 0.6s ease all;
        padding: 1rem;

        text-align: center;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: space-around;
        border-radius:5px;
        border: 0.5px solid #1d262e;
        border-right: 2.5px solid #1d262e;
        border-bottom: 2.5px solid #1d262e;
        border-radius: 0.25rem;


        @include medium {
            max-width: 30%;
        }
        @include large {
            max-width: 25%;
        }

        &:hover{
            background-color: $canadian-grey;
            color: $custom-black;
            transition: ease-out 0.5s;
   
        }
        
        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;
            h4{
                text-transform: uppercase;
                color: $custom-black-transparent;
                font-weight: bold;
                letter-spacing: 1px
            }
        }
        .icon img{
            width: 50px;
            height: 50px;
        }
        .cta {
            text-transform: uppercase;
            text-decoration: underline;
            color: $custom-black-transparent;
            font-weight: bold;
        }
        
    }
}