@import '../settings/variables';
@import '../settings/mixins';

.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    @include medium {
    justify-content: space-between;

        flex-wrap: nowrap;
        }

    &.scrolled {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-right {
        text-align: center;
        padding: 1rem;
        width: fit-content;

        .button {
            width: 200px;
            font-size: 0.725rem;
            padding: 0.5rem;
            @include medium {
                padding: 0.725rem;
                font-size: 1rem;
            }
        }
    }

    .navbar-left {
        .mobile {
           img {
            padding-top: 1rem;
            max-width: 250px;
           }
            @include medium {
                display: none;
            }
        }
        .logo img {
            display: none;
            @include medium {
                display: inline-block;
                height: 6rem;

            }
        }

        @include medium {
            width: 100%;
            margin: 0 auto;
            padding-top: 1rem;

        }

    }

}
