@import '../settings/variables';
@import '../settings/mixins';

.navbar {
    grid-area: nav;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;



    @include medium {
        justify-content: space-between;
        flex-wrap: nowrap;
        }

    &.scrolled {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-right {
        text-align: center;
        padding: 1rem;
        width: fit-content;

        .button {
            width: 200px;
            font-size: 0.725rem;
        
            padding: 0.5rem;
            @include medium {
                padding: 0.725rem;
                font-size: 1rem;
            }
        }

        .btn-animated {
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background: linear-gradient(145deg, $white, $canadian-grey);
                border: .2px solid $custom-black;
                border-right: 2px solid $custom-black;
                border-bottom: 2px solid $custom-black;
                overflow: hidden;
                cursor: pointer;
                // border: 1px solid $grey;
              }
              
              button:after {
                content: " ";
                width: 0%;
                height: 100%;
                background: $canadian-grey;
                opacity: 0.5;
                position: absolute;
                transition: all 0.4s ease-in-out;
                right: 0;
              }
              
              button:hover::after {
                right: auto;
                left: 0;
                width: 100%;
              }
              
              button a {
                text-align: center;
                padding: 0.5rem;
                text-decoration: none;
                width: 100%;
                color: $custom-black;;
                font-size: 1rem;
                font-weight: 500;
                z-index: 20;
                transition: all 0.3s ease-in-out;
              }
              
              button:hover a {
                color: $custom-black;
                animation: scaleUp 0.3s ease-in-out;
              }
              
              @keyframes scaleUp {
                0% {
                  transform: scale(1);
                }
              
                50% {
                  transform: scale(0.95);
                }
              
                100% {
                  transform: scale(1);
                }
              }
            }

    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding-block: 1rem;
    
        @include medium {
            justify-content: flex-end;
            margin-right: 2rem;
        }

        .nav-item {
            color: $black;
            font-family: inherit;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            border: none;
            background: none;
            text-transform: uppercase;
            transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

          }
          
          .nav-item:focus,
          .nav-item:hover {
            color: $black;
          }
          
          .nav-item:focus:after,
          .nav-item:hover:after {
            width: 100%;
            left: 0%;
          }
          
          .nav-item:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color:$black;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
          }
    }
    

    .navbar-left {
        width: fit-content;
        margin-bottom: 1rem;

         @include medium {
          margin-bottom: 0;

         }
       
        .mobile {
           img {
            padding-top: 1rem;
            max-width: 250px;
            opacity: 1;
            height: auto;
            transition: opacity 0.8s ease-in-out, height 0.5s ease-in-out;
        
            &.scrolled {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }

           }
            @include medium {
                display: none;
            }
        }

        .logo img {
            display: none;

            @include medium {
                display: inline-block;
                height: 6rem;

            }
        }

       

    }

}
