@import '../settings/variables';

#parallax-wrapper {
    background: linear-gradient(0deg, $canadian-grey 0%, $white 100%);

    .parallax-separator{
        width: 100vw;
        height: 30vh;
    }
    .parallax-top {
      
    }
    .parallax-bottom {
        h2{
            text-align: center;
        }
    }
    
    #parallax {
        height: 100vh;
        position: relative;
        display: grid;
        place-content: center;

        .heading{
            position: relative;
            text-align: center;
            font-size:5rem;
            letter-spacing: 0.5rem;
            color: white;
            text-shadow: $text-outline;
            width: 90%;
            margin: 0 auto;

            .span-line:nth-of-type(1) {
                position: relative;
                z-index: 10;
                border: 1px solid black;
                color: rgba(214, 41, 41, 0.978);
                text-shadow: $text-outline;
                font-size: 5rem;
                padding-inline: 1rem;
                &.animated-span {
                    animation: text-flicker-in-glow 4s linear both;
                }
                
                
                
            }
            
            .span-line:nth-of-type(2) {
                position: relative;
                z-index: 10;
                color: rgba(214, 41, 41, 0.978);
                text-shadow: $text-outline;
                font-size: 5rem;
                padding-inline: 1rem;
                
                &.animated-span {
                    animation: text-shadow-pop-top 0.2s both;
                    transform: translateY(-3rem); 
                    transition: all 2s linear;
                }
                                               
               

            }
                
        }

    }
        .parallax-img {
            position: absolute;
            width: 12%;
            opacity:0.5;
            z-index: 0;
            &:nth-of-type(1) {top:20%; left:50%;}
            &:nth-of-type(2) {top:45%; left:25% }
            &:nth-of-type(3) {top:35%; left:5%;}
            &:nth-of-type(4) {top:50%; left:80%;}
            &:nth-of-type(5) {bottom:0%; right:-30%;}
            &:nth-of-type(6) {bottom:-10%; left:0%;}
            &:nth-of-type(7) {top:60%; right:32%;}
            &:nth-of-type(8) {bottom:-10%; left:75%;}
            &:nth-of-type(9) {top:80%; right:60%;}
            &:nth-of-type(10) {bottom:15%; left:72%;}
        }
    
    }
    .parallax-content {


    }


  @keyframes text-shadow-pop-top {
    0% {
        text-shadow: 0 0 black, 0 0 , 0 0 black, 0 0 black, 0 0 , 0 0 black, 0 0 black, 0 0 black;

        transform-origin: top;
    }
    100% {
        text-shadow: 0 -1px black, 0 -2px black, 0 -3px black, 0 -4px black, 0 -5px black, 0 -6px black, 0 -7px black, 0 -8px black;

        transform-origin: top;


    }
  }
  

  @keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);

    }
    10.1% {
      opacity: 0;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 1;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
      display:none
    }
  }
  