.cookieconsent__disable-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  border: 4px solid transparent;
  padding: 10px 40px;
}
.cookieconsent__disable-text:not(:last-child) {
  margin-bottom: 15px;
}
.cookieconsent__disable-text.show-error {
  font-size: 18px;
  color: #f21d1d;
  padding: 14px 40px;
}
.cookieconsent__bar {
  position: fixed !important;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 950;
  background-color: #eae2dd;
  padding: 24px 0;
}
.cookieconsent__bar.hidden {
  display: none;
}
.cookieconsent__bar-wrapper, .cookieconsent__bar-control {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
.cookieconsent__bar-details-table-wrapper {
  color: #1d262e;
  padding: 30px 0;
}
.cookieconsent__bar-headline {
  font-weight: 100;
  margin-bottom: 8px;
  color: #1d262e;
}
.cookieconsent__bar-copy {
  padding-bottom: 15px;
  color: #1d262e;
}
.cookieconsent__bar-details {
  overflow: auto;
  max-height: 200px;
  transition: max-height 350ms ease-out;
}
.cookieconsent__bar-details table {
  color: #FFFFFF;
  font-size: 15px;
}
.cookieconsent__bar-details tr {
  border-bottom: 1px #afacac solid;
  color: #1d262e;
}
.cookieconsent__bar-option-wrapper {
  padding: 20px 0px;
}
.cookieconsent__bar-option {
  display: inline-flex;
  align-items: center;
  color: #1d262e;
  cursor: pointer;
}
.cookieconsent__bar-option input {
  margin-right: 10px;
  border: 2px solid #fff;
  transition: border-color 0.2s ease;
  background: none;
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  width: 1rem;
  height: 1rem;
}
.cookieconsent__bar-option input:hover, .cookieconsent__bar-option input:focus {
  border: 2px solid #afacac !important;
}
.cookieconsent__bar-option input:checked {
  border: 2px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% !important;
  background-color: red;
}
.cookieconsent__bar-option:not(:last-child) {
  margin-right: 15px;
}
.cookieconsent__bar-details-table {
  overflow: hidden;
  margin-top: 12px;
}
.cookieconsent__bar-details-table-header {
  font-size: 18px;
  padding-bottom: 5px;
  color: #1d262e;
}
.cookieconsent__bar-details-table-header table tbody tr th {
  color: #1d262e;
}
.cookieconsent__bar-details-table-header p {
  font-size: 16px;
  color: #1d262e;
}
.cookieconsent__bar-details-table-header h4 {
  font-weight: 100;
  color: #1d262e;
}
.cookieconsent__bar-control {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
  justify-content: center;
  color: #1d262e;
}
@media (min-width: 601px) {
  .cookieconsent__bar-control {
    align-items: flex-end;
  }
}
@media (min-width: 1201px) {
  .cookieconsent__bar-control {
    flex-direction: row;
    justify-content: space-between;
  }
}
.cookieconsent__bar-nav {
  display: flex;
  justify-content: center;
  color: #1d262e;
}
.cookieconsent__bar-nav-item {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
}
@media (min-width: 1201px) {
  .cookieconsent__bar-nav-item {
    margin-top: 25px;
    width: 100%;
    margin-top: 0px;
  }
}
.cookieconsent__bar-nav-item a {
  font-size: 14px;
}
.cookieconsent__bar-nav-item:not(:last-child) {
  margin-right: 26px;
}
.cookieconsent__bar-buttons {
  align-self: flex-end;
  width: 100%;
}
@media (min-width: 601px) {
  .cookieconsent__bar-buttons {
    width: auto;
  }
}
.cookieconsent__bar-buttons button {
  width: 100%;
}
@media (min-width: 601px) {
  .cookieconsent__bar-buttons button {
    width: auto;
  }
}
.cookieconsent__bar-buttons button:not(:first-child) {
  margin-top: 10px;
}
@media (min-width: 601px) {
  .cookieconsent__bar-buttons button:not(:first-child) {
    margin-top: 0px;
  }
}
.cookieconsent__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999998;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cookieconsent__overlay.hidden {
  display: none;
}
.cookieconsent__overlay::before {
  content: "";
  background-color: #FFFFFF;
  opacity: 0.4;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999998;
}
.cookieconsent__overlay-box {
  padding: 20px 20px;
  height: auto;
  max-width: 667px;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 999999;
  background-color: #eae2dd;
}
.cookieconsent__overlay-headline {
  margin-bottom: 15px;
  color: #1d262e;
}
.cookieconsent__button {
  background-color: rgba(140, 152, 125, 0.2);
  color: #1d262e;
  border-color: rgba(140, 152, 125, 0.2);
  padding: 5px 12px;
  height: auto;
  border-radius: 4px;
}
.cookieconsent__button:not(:last-child) {
  margin-right: 5px;
}
.cookieconsent__button--blue {
  background-color: #afacac;
  color: #1d262e;
}
.cookieconsent__donottrack {
  position: absolute;
  top: 0;
  right: 20px;
  height: auto;
  width: 250px;
  background-color: #eae2dd;
  padding: 20px;
  transition: right 1s ease;
  color: #FFFFFF;
  border-radius: 2px;
}
.cookieconsent__donottrack.is-animated {
  right: -310px;
}
.cookieconsent__donottrack-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #FFFFFF;
  height: 15px;
  width: 15px;
}
.cookieconsent__donottrack-time {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eae2dd;
  height: 6px;
  width: 0%;
}

.ac.js-enabled.is-open .ac-panel {
  visibility: visible;
}
