* {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-weight: 200;
  font-family: "Inter Tight", sans-serif;
  color: #1d262e;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

h2, h3, h4, h5, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.button {
  font-size: small;
  border-radius: 1.5rem;
  border: solid #1d262e 0.5px;
  padding: 0.5rem;
  box-shadow: 5px 5px 15px -8px #1d262e;
  transition: transform 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(234, 226, 221, 0.5);
  color: #1d262e;
  transition: ease-out 0.4s;
}
.button:active {
  transform: translate(4px, 2px);
}

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 100;
  src: url("../../assets/fonts/inter/Inter-Tight-100.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 200;
  src: url("../../assets/fonts/inter/Inter-Tight-200.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/inter/Inter-Tight-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/inter/Inter-Tight-300.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/inter/Inter-Tight-600.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/inter/Inter-Tight-700.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/oscine/Inter-Tight-900.woff2") format("woff2");
}
@font-face {
  font-family: "Oscine";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/oscine/Oscine_Bd.woff2") format("woff2");
}
@font-face {
  font-family: "Oscine";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/oscine/Oscine_Rg.woff2") format("woff2");
}
@font-face {
  font-family: "Oscine";
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/oscine/Oscine_XBd.woff2") format("woff2");
}
