.navbar {
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding-inline: 2rem;
}
.navbar.scrolled {
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-right {
  text-align: center;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 0px) and (max-width: 600px) {
  .navbar .navbar-right {
    width: 100%;
  }
}
.navbar .navbar-right .button {
  width: 200px;
  padding: 0.725rem;
  font-size: 1rem;
}
.navbar .navbar-left {
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
  .navbar .navbar-left {
    margin: 0 auto;
    padding-top: 1rem;
  }
  .navbar .navbar-left .logo img {
    height: 6rem;
  }
}
