.navbar {
  grid-area: nav;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}
@media (min-width: 601px) {
  .navbar {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.navbar.scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-right {
  text-align: center;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar .navbar-right .button {
  width: 200px;
  font-size: 0.725rem;
  padding: 0.5rem;
}
@media (min-width: 601px) {
  .navbar .navbar-right .button {
    padding: 0.725rem;
    font-size: 1rem;
  }
}
.navbar .navbar-right .btn-animated {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(145deg, #FFFFFF, #eae2dd);
  border: 0.2px solid #1d262e;
  border-right: 2px solid #1d262e;
  border-bottom: 2px solid #1d262e;
  overflow: hidden;
  cursor: pointer;
}
.navbar .navbar-right button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #eae2dd;
  opacity: 0.5;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}
.navbar .navbar-right button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
.navbar .navbar-right button a {
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
  color: #1d262e;
  font-size: 1rem;
  font-weight: 500;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-right button:hover a {
  color: #1d262e;
  animation: scaleUp 0.3s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.navbar .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block: 1rem;
}
@media (min-width: 601px) {
  .navbar .menu {
    justify-content: flex-end;
    margin-right: 2rem;
  }
}
.navbar .menu .nav-item {
  color: #000000;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.navbar .menu .nav-item:focus,
.navbar .menu .nav-item:hover {
  color: #000000;
}
.navbar .menu .nav-item:focus:after,
.navbar .menu .nav-item:hover:after {
  width: 100%;
  left: 0%;
}
.navbar .menu .nav-item:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.navbar .navbar-left {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
}
@media (min-width: 601px) {
  .navbar .navbar-left {
    margin-bottom: 0;
  }
}
.navbar .navbar-left .mobile img {
  padding-top: 1rem;
  max-width: 250px;
  opacity: 1;
  height: auto;
  transition: opacity 0.8s ease-in-out, height 0.5s ease-in-out;
}
.navbar .navbar-left .mobile img.scrolled {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
@media (min-width: 601px) {
  .navbar .navbar-left .mobile {
    display: none;
  }
}
.navbar .navbar-left .logo img {
  display: none;
}
@media (min-width: 601px) {
  .navbar .navbar-left .logo img {
    display: inline-block;
    height: 6rem;
  }
}
