@import 'variables'; 
// Inter Tight
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: $thin;
    src: url('/fonts/inter/Inter-Tight-100.woff2') format('woff2');

}

@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: $lighter;
    src: url('/fonts/inter/Inter-Tight-200.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: $regular;
    src: url('/fonts/inter/Inter-Tight-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: $light;
    src: url('/fonts/inter/Inter-Tight-300.woff2') format('woff2');
}



@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: $semibold;
    src: url('/fonts/inter/Inter-Tight-600.woff2') format('woff2');

}

@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: $bold;
    src: url('/fonts/inter/Inter-Tight-700.woff2') format('woff2');

}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight:$extra-bold;
    src: url('/fonts/inter/Inter-Tight-900.woff2') format('woff2');
}